<app-menu></app-menu>
<div class="section mb-4">
    <div class="row mb-4">
        <div class="col-md-2 offset-md-3">
            <mat-form-field>
                <mat-label>Patient Name</mat-label>
                <input matInput type="text" [(ngModel)]="searchPatientName" [formControl]="searchPatientNameForm">
                <mat-error *ngIf="searchPatientNameForm.hasError('pattern')">Invalid name</mat-error>
                <button mat-button *ngIf="searchPatientName" matSuffix mat-icon-button aria-label="Clear"
                    (click)="searchPatientName=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field>
                <mat-label>Patient Birthday</mat-label>
                <input matInput [matDatepicker]="birthdayPicker" (dateChange)="dateChange($event)"
                    (dateInput)="dateChange($event)" [placeholder]="dateFormat" [formControl]="searchPatientDateForm">
                <mat-error>Invalid date</mat-error>
                <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
                <mat-datepicker #birthdayPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <button mat-raised-button color="primary" (click)="search()"
                [disabled]="tableLoading || !searchPatientNameForm.valid || !searchPatientDateForm.valid">Search</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-10 offset-md-1 text-center">
            <mat-spinner *ngIf="tableLoading"></mat-spinner>
            <mat-table [dataSource]="tableData" class="mat-elevation-z8" *ngIf="!tableLoading">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="gender">
                    <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="birthday">
                    <mat-header-cell *matHeaderCellDef> Birthday </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.birthday}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="colName"></mat-header-row>
                <mat-row *matRowDef="let row; columns: colName;"></mat-row>
            </mat-table>
            <div *ngIf="!tableLoading && tableData.length === 0">No records found</div>
        </div>
    </div>
    <div class="row mb-4" *ngIf="!tableLoading">
        <span class="col-md-6 text-center">Requested at: {{ startTime | date:'yyyy-MM-dd hh:mm:ss:SSS a' }}</span>
        <span class="col-md-6 text-center">Responsed at: {{ endTime | date:'yyyy-MM-dd hh:mm:ss:SSS a' }}</span>
    </div>
</div>